@model IEnumerable<WEBDotNETApp.Models.User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AQ First Contact Profile</title>
    <style>
        body {
            /*background: linear-gradient(45deg, #24006b, #f42f8c);*/
            background: rgb(27, 55, 83);
            min-height: 100vh;
            margin-top: 0;
            margin-bottom: 0;
        }

        .hidden {
            display: none;
        }

        .lock {
            cursor: not-allowed;
        }

        .navigationConteiner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            height: fit-content;
            background: rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
        }

        .navigationConteiner .sign-inBox,
        .navigationConteiner .sign-outBox,
        .navigationConteiner .profeli-box {
            height: 40px;
            line-height: 40px;
            float: left;
            font-size: 2em;
            padding: 0.3em;
            color: #fff;
            cursor: pointer;
        }

        .navigationConteiner .sign-inBox a,
        .navigationConteiner .sign-outBox a,
        .navigationConteiner .profeli-box a {
            color: #00EA00;
            text-decoration: none;
            transition: 0.5s;
        }
        
        .navigationConteiner .sign-inBox a:hover,
        .navigationConteiner .sign-outBox a:hover {
            color: #000;
        }

        .navigationConteiner .profeli-box a:hover {
            color: #336597;
        }

        .navigationConteiner nav {
            float: right;
        }

        .navigationConteiner nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 2em;
            display: flex;
        }

        .navigationConteiner nav ul li a {
            padding: 0.3em;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            display: block;
            color: #fff;
        }

        .navigationConteiner nav ul li a:hover {
            background: #aaa;
        }
        /* Main section */
        main {
            padding-top: 60px;
        }
        .wrapper {
            width: 100%;
        }
        .image-box {
            float: left;
            padding: 15px;
            border: 2px solid #666;
            border-radius: 3px;
        }
        .wrapper, 
        .invalid-user {
            color: #FFF;
        }

        .linkBox {
            padding: 0 15px;
        }
        .title_name {
            color: #00EA00;
        }
        .title_content {
            color: #8EEFFD;
        }
        .controls {
            margin-top: 10px;
        }
        .controls a { 
            font-size: 1.2em;
            padding: 0.3em;
            color: #fff;
            cursor: pointer;
        }
        .controls a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header class="navigationConteiner">
        <nav>
            <ul>

                <li>
                    <!--Новини-->
                    <a href=@Url.Action("Home", "Home")>
                        Home
                    </a>
                </li>
                @if (Session["UserId"] != null && (long)Session["UserId"] != 0)
                {
                    if (Session["MemberShip"] != null && (int)Session["MemberShip"] == 10)
                    {
                        <li>
                            <!--Посилання-->
                            <a href=@Url.Action("Manage", "Home") title="Web page management">
                                Manage
                            </a>
                        </li>
                    }
                    <li>
                        <!--Констуктор-->
                        <a href="#">
                            Constructor
                        </a>
                    </li>
                    <li>
                        <!--Список предметів-->
                        <a href=@Url.Action("Items", "Home") title="Items">
                            Items
                        </a>
                    </li>
                    <li>
                        <!--Посилання-->
                        <a href="#">
                            About
                        </a>
                    </li>

                }
                else
                {
                    <li class="lock">
                        <!--Констуктор-->
                        <a href="#">
                            Constructor
                        </a>
                    </li>
                    <li class="lock">
                        <!--Список предметів-->
                        <a href="#">
                            Items
                        </a>
                    </li>
                    <li class="lock">
                        <!--Посилання-->
                        <a href="#">
                            About
                        </a>
                    </li>
                }
            </ul>
        </nav>
        @if (Session["UserId"] != null && (long)Session["UserId"] != 0) //
        {
            <div class="sign-outBox">
                <a href="@Url.Action("onExitUser", "Home")">
                    Sign out
                </a>
            </div>
            <div class="profeli-box">
                <a href="@Url.Action("Profile", "Home")">
                    Profile
                </a>
            </div>
        }
        else
        {
            <div class="sign-inBox">
                <a href="@Url.Action("Login", "Home")">
                    Sign in
                </a>
            </div>
        }
    </header>
    <main>
        @{
            var user = Model.First();
        }
        @if (Session["UserId"] != null && (long)Session["UserId"] != 0 && user != null)
        {
            <div class="wrapper">
                <h2>
                    <span class="title_name">@user.loginName</span>'s Profile
                </h2>
                <div>
                    <div class="image-box">
                        <image src="" width="190px" alt="User avatar"></image>
                    </div>
                    <div class="user_content-box">
                        <table class="user_content">
                            <tbody>
                                <tr>
                                    <td>User Name: <span class="title_content">@user.name</span></td>
                                    @switch (@user.MemberShip)
                                    {
                                        case 1:
                                            <td>Group: <span class="title_content">User</span></td>
                                            break;
                                        case 10:
                                            <td>Group: <span class="title_name">Admin</span></td>
                                            break;
                                    }
                                </tr>
                                <tr>
                                    <td>User surname: <span class="title_content">@user.surname</span></td>
                                    <td>Login name: <span class="title_content">@user.loginName</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="controls">
                        <a href=@Url.Action("EditUser", "Home", new { UserId = @user.Id }) class="editUser">Edit profile</a>
                        <a href="@Url.Action("onExitUser", "Home")">
                            Sign out
                        </a>
                    </div>
                </div>
            </div>
        }
        else if (user == null)
        {
            <div class="invalid-user">
                <h3>Invalid user ID. Check the login state or user data</h3>
            </div>
        }
        else
        {
            <div class="invalid-user">
                <h3>Invalid user. Try login to get access</h3>
            </div>
        }
    </main>
</body>
</html>
